etl-azure-adf-databricks-lakehouse/adf/pipelines/pl_ingest_sales_raw.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nombre de instancia de Data Factory"},"ls_databricks_etl1":{"type":"string"},"ls_adls_etl_sales":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pl_ingest_sales_raw')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ExtraerRawData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_adls_raw_manual_sales","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_adls_raw_sales","type":"DatasetReference","parameters":{"folder_path":{"value":"sales/orders/ingestion_date=@{formatDateTime(utcnow(),'yyyy-MM-dd')}","type":"Expression"}}}]},{"name":"ETL","description":"Mi primer ETL","type":"DatabricksJob","dependsOn":[{"activity":"ExtraerRawData","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"jobId":"304092458583755"},"linkedServiceName":{"referenceName":"[parameters('ls_databricks_etl1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_adls_raw_manual_sales')]","[concat(variables('factoryId'), '/datasets/ds_adls_raw_sales')]"]},{"name":"[concat(parameters('factoryName'), '/ds_adls_raw_manual_sales')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_etl_sales')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"sales_orders.csv","folderPath":"manual","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"order_id;order_date;customer;product;amount","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_adls_raw_sales')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_adls_etl_sales')]","type":"LinkedServiceReference"},"parameters":{"folder_path":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().folder_path","type":"Expression"},"fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"order_id;order_date;customer;product;amount","type":"String"}]},"dependsOn":[]}]}